OPENAI_API_KEY = ""
STRICT_MODE = 0
DEBUG = 1
BOT_SHARED_DATAS_DIR = "/path/to/BotSharedDatas"
PROTOC_PATH = "/path/to/protoc"
IDA_EXE = "/path/to/ida.exe"
NON_OBF_GAME_DIR = "/path/to/non-obfuscated/game"
OBF_GAME_DIR = "/path/to/obfuscated/game"
PC_ID = ""
UABEA_EXECUTABLE = "/path/to/UABEA.exe"
IL2CPP_INSPECTOR_EXECUTABLE = "/path/to/Il2CppInspector.exe"
PROTODEC_EXECUTABLE = "/path/to/protodec"
PATH_STANDALONE_BUNDLES = "/path/to/StandaloneWindows64"